#logo{
}

body{
    background-color: #ebeff5;
}


#total-orders{
    background-color: #ffa600;
}


#orders-delivered{
    background-color: #266cd4;
}

#orders-pending{
    background-color: #eb1212;
}